root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:suggestion

[*.{ts,tsx,js,jsx,json,css,html,yml,yaml}]
indent_size = 2

[*.{csproj,props,targets,sln}]
indent_size = 2
